@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("/Fonts/Sora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sora Extra";
  src: url("/Fonts/Sora-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Sora Regular";
  src: url("/Fonts/Sora-Regular.ttf") format("truetype");
}


.font-soraRegular {
  font-family: "Sora Regular", sans-serif;
}
.font-sora {
  font-family: "Sora", sans-serif;
}

.font-soraBold {
  font-family: "Sora Extra", sans-serif;
}